html, body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background: rgb(245, 237, 237);
}

#root {
  height: 100%;
  width: 100%;
}

.map {
  height: 50%;
}

.info-div{
  position: absolute;
  width: 100%;
}

.card-plot{
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 999;
}

.tabs{
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

#tab{
  flex: 1;
  text-align: center;
}

#pane{
  z-index: 99;
}
#center{
  text-align: center;
}
h4{
  font-size: 1.5em;
  margin-bottom: 0px;
  font-weight: bold;
  padding-bottom: 0px;
}

#settlement{
  color: purple;
}

#city{
  color: red;
}

#grid{
  color: orange;
}
#river{
  color: lightseagreen;
}
#district{
  color: #A52A2A;
}
#township{
  color: #228B22 ;
}
.info{
  background: rgb(245, 237, 237);
  padding: 5px;
}
#line{
  margin: 0px;
  padding: 0px;
}