html,body {
    box-sizing: border-box;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

#root {
    height: 100%;
    width: 100%;
}

.map {
    height: 65%;
}

.info-div{
    align-content: center;
    position: absolute;
    height:100%;
}

.card-plot{
    position: absolute;
    z-index: 999;
    width: 100%;
}